[submodule "backend/ipfsspec"]
	path = backend/ipfsspec
	url = https://github.com/commune-ai/ipfsspec.git
	branch=feature/write
[submodule "frontend"]
	path = frontend
	url = https://github.com/commune-ai/Tree-Bulder.git
